  <div id="{{containerId}}">

    {{> bookmark-edit titleId="btf-bookmark-title" urlId="btf-bookmark-url" }}

    <div class="bookmark-selection-container">

      <div class="search-input-container">
        <div class="group">
          <label>Search Folders</label>
          <input id="btf-folder-search-key" class="text-input glowing-border" name="search" />
        </div>
      </div>

      <div class="folder-container">

        <div class="folder-box-outer">
          <p>Available Folders (click to select)</p>
          <div id="btf-available-folders" class="folder-box-inner">
            <!--
            <div class="folder-entry" data-folder-id="1">dummy 1 - supercalifragilistic / espilly / docious</div><br/>
            <div class="folder-entry" data-folder-id="2">dummy 2</div><br/>
            -->
          </div>
        </div>

        <div class="folder-box-outer">
          <p>Selected Folders* (click to remove)</p>
          <div id="btf-selected-folders" class="folder-box-inner">
            <!--
            <div class="folder-entry removable" data-folder-id="11">dummy 1 - supercalifragilistic / espilly / docious</div><br/>
            <div class="folder-entry removable" data-folder-id="16">dummy 2</div><br/>
            -->
          </div>
        </div>

      </div>

    </div>

    <!-- Outside the form by design -->      
    <div class="button-container">
      <div class="aux-buttons">
        <button id="btf-reindex-button" class="glowing-border button-entry danger-highlight">Reindex</button>
      </div>

      <div class="main-buttons">
        <button id="btf-bookmark-button" class="glowing-border button-entry">Bookmark to Selected Folders</button>
      </div>
    </div>

  </div> 
