  <div id="{{containerId}}">
    <div class="group">
      <label>Search Bookmarks</label>
      <input id="bs-search-key" class="text-input glowing-border" name="search" />
    </div>

    <div class="folder-container">

      <div class="bookmark-list">
        <p>
        <strong>Click</strong> to open as active tab.
        <strong>Middle click</strong> to open in background tab.
        <strong>Hold Shift and click</strong> to modify bookmark details.
        <strong>'Escape'</strong>, or click outside bookmarking interface when done.
        </p>

        <div id="bs-available-bookmarks" class="folder-box-inner">
          <!--
          <div class="bookmark-entry" data-bookmark-id="1">dummy 1 - supercalifragilistic / espilly / docious</div><br/>
          <div class="bookmark-entry" data-bookmark-id="2">dummy 2</div><br/>
          -->
        </div>
      </div>

    </div>

  </div>


<!-- ================================================================== -->
<!-- Dialog Markup: Dynamically hidden and made visible by UI framework -->
<!-- ================================================================== -->

<div id="bs-modify-bookmark-dialog" title="Update Bookmark">
  {{> bookmark-edit titleId="bs-bookmark-title" urlId="bs-bookmark-url" }}
</div>
