    <div class="group">
      <label>Title*</label> 
      <input id="{{titleId}}" name="title" class="text-input glowing-border" autofocus>
    </div>
  
    <div class="group">
      <label>URL*</label>
      <input id="{{urlId}}" name="url" class="text-input glowing-border">
    </div>
