<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/style/jquery-ui.css"/>
    <link rel="stylesheet" href="/assets/style/bookmark-dialog.css"/>
  </head>

<body>

<div id="tabs-container">
  <ul>
    <li><a href="#bookmark-to-folders-container">Bookmark to Folders</a></li>
    <li><a href="#bookmark-search-container">Bookmark Search and Modify</a></li>
  </ul>

<!-- =============== -->
<!-- Bookmark Search -->
<!-- =============== -->
{{> bookmark-search containerId='bookmark-search-container' }}
<!-- =================== -->
<!-- END bookmark search -->
<!-- =================== -->

<!-- =================== -->
<!-- Bookmark to Folders -->
<!-- =================== -->
{{> bookmark-to-folders containerId='bookmark-to-folders-container' }}
<!-- ======================= -->
<!-- END bookmark to folders -->
<!-- ======================= -->

</div>



  <!-- ======= -->
  <!-- Scripts -->
  <!-- ======= -->
  <script src="/bundles/bookmark-dialog.js"></script>
</body>

</html>
