body {
  font: normal 10pt sans-serif;
  min-width: 750px;
}

div.group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 10px;
  align-items: right;
  vertical-align: middle;
}

div.group label {
  flex: 1;
  text-align: left;
  padding-right: 5px;
}

div.group input {
  flex: 11 10;
  line-height: 2em;
  padding-left: 5px;
  padding-right: 5px;
}

/*
 * BUTTONS
 */

div.button-container {
  display: flex;
  justify-content: flex-start;
}

div.button-container .button-entry {
  padding: 11px;
  margin-top: 16px;
  margin-bottom: 2px;
  text-align: center;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 2px 2px 4px grey;
  border: none;
}

div.button-container .button-entry:active {
  box-shadow: none;
  transform: translateY(1px);
  transform: translateX(1px);
}

#btf-reindex-button {
  margin-left: 10px;
}

#btf-bookmark-button {
  background-color: rgb(230, 230, 230);
  margin-left: 52px;
}

.aux-buttons {
  flex-grow: 2;
}

.main-buttons {
  flex-grow: 4;
}

.danger-highlight {
  background-color: rgb(255, 170, 170);
}

/* END BUTTONS */


div.bookmark-selection-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; 
}

div.search-input-container {
  border-top: 1px dotted #ccc;
  padding-top: 1px;
}

.text-input {
  background-color: rgb(255, 255, 240);
}

.text-input-error {
  background-color: rgb(255, 140, 140);
}

.no-selected-folders-error {
  border: 3px solid rgb(255, 140, 140);
  border-radius: 3px;
  box-shadow: 0 0 7px rgb(255, 200, 200);  
}

.glowing-border {
  border: 1px solid #dadada;
  border-radius: 2px;
}

.glowing-border:focus { 
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 4px #9ecaed;
}

div.folder-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1px;
}

div.bookmark-list {
  width: 100%;
}

div.folder-box-outer {
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  margin-right: 2px;
  padding-bottom: 1px;
  width: 50%;
  height: 300px;
  justify-content: center;
  text-align: center;
  background-color: rgb(240, 240, 240);
}

div.folder-box-inner {
  margin-top: -7px;
  padding-top: 8px;
  height: 300px;
  text-align: left;
  overflow: scroll;
}

div#btf-available-folders {
  background-color: rgb(244, 244, 255);
}

div#btf-selected-folders {
  background-color: rgb(244, 255, 244);
}

div#bs-available-bookmarks {
  background-color: rgb(244, 255, 244);
}

div.folder-entry, div.bookmark-entry {
  font: normal 8pt sans-serif;
  border: 1px solid rgb(255, 180, 180);
  border-radius: 7px;
  cursor: copy;
  background-color: rgb(255, 200, 200);
  margin-bottom: -13px;
  margin-left: 6px;
  margin-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
}

div.bookmark-entry {
  cursor: pointer;
}

div.folder-entry.removable {
  cursor: not-allowed;
}
